@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
body{
    background: var(--text-white);
    font-family: 'Work Sans', sans-serif;
}
:root{
    --text-dark: #131313;
    --text-gray: #727272;
    --text-white: #FFFFFF;
    --btn-yellow: #FF900E;

    --bg-light: #ff900e1a;
    --shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

/* ====uni-code==== */

.btn{
    outline: none;
    border: 1px solid transparent;
    padding: 1rem 1.1rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 4rem;
}

/* ====header-section==== */
header{
    background: var(--bg-light);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    font-size: 2.6rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--text-dark);
}
.navbar .logo span{
    color: var(--btn-yellow);
}
.navbar .nav-menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-menu li a{
    font-size: 1.1rem;
    font-size: 500;
    color: var(--text-dark);
    transition: all .3s ease-in-out;
}
.nav-menu li a:hover{
    color: var(--btn-yellow);
}

/* hero-section */
.hero-section{
    padding-top: 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-section .hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.hero-text .hero-title{
    width: 60%;
    font-weight: 700;
    font-size: 4rem;
}
.hero-text .hero-details{
    font-size: 1rem;
    color: var(--text-gray);
    margin: 2rem 0;
}
.btn-primary{
    background: var(--btn-yellow);
    color: var(--text-white);
}
.btn-primary:hover{
    color: var(--btn-yellow);
    background: transparent;
    border: 1px solid var(--btn-yellow);
}
 .hero-image{
    padding-top: 4rem;
    width: 100%;
}
.hero-image img{
    width: 100%;
}

/* ====features-section==== */
.features{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}
.features-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.4rem;
    overflow: hidden;
}
.features-images img{
    width: 100%;
}
.features-text{
    width: 50%;
}
.features-text .features-title{
    font-size: 2.8rem;
    color: var(--text-dark);
    font-weight: 700;
    margin-bottom: 1.3rem;
}
.features-text .features-title .gray{
    color: var(--text-gray);
    font-weight: 500;
}
.features-text .features-title .yellow{
    color: var(--btn-yellow);
}
.features-text .features-detail{
    color: var(--text-gray);
    margin-bottom: 1.5rem;
}

/* ====Experience-section===== */
#about{
    position: relative;
}
.experiences{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.experience-text{
    width: 40%;
}
.experience-text .experience-title{
    font-size: 2.8rem;
    padding-left: 1.4rem;
    color: var(--text-dark);
    border-left: 5px solid var(--btn-yellow);
    font-weight: 700;
    margin-bottom: 1.4rem;
}
.experience-text .experience-details{
    color: var(--text-gray);
    margin-bottom: 2rem;
}

.experience-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}
.experience-group div{
    padding: 2rem;
    box-shadow: var(--shadow);
    border-radius: .5rem;
}
.experience-group div h3{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: .6rem;
}
.experience-group div p{
    color: var(--text-gray);
}
.experience-image{
    width: 60%;
}
.experience-image img{
    width: 100%;
    height: 1059px;
}
.year{
    height: 12rem;
    width: 21rem;
    text-align: center;
    padding: 2.9rem;
    border-radius: .5rem;
    background: var(--btn-yellow);
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
}
.year .exp-year{
    font-size: 3.5rem;
    color: var(--text-white);
    font-weight: 700;
}
.year p{
    color: var(--text-white);
}

/* ====facts-section===== */
.facts-section{
    padding-top: 3rem;
}
.facts-section .fact-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--text-dark);
    margin-bottom: 1.4rem;
}
.facts-section .fact-sub-title{
    color: var(--text-gray);
    width: 50%;
}
.fact-card{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7rem;
}
.fact-card .card{
    padding: 2.5rem;
    box-shadow: var(--shadow);
    text-align: center;
    border-radius: .5rem;
    border: 1px solid var(--btn-yellow);
    background: var(--text-white);
    cursor: pointer;
    position: relative;
}
.fact-card .card::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.358);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.fact-card .card:hover::before{
    animation: card 3s infinite;
    
}
@keyframes card {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(135deg);
    }
    75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.card .number{
    font-size: 2.8rem;
    color: var(--text-dark);
    margin: .5rem 0;
}